.socialLogo {
  color: white;
  font-size: 55px;
  margin: 0px 18px;
  opacity: 0.6;

  &:hover {
    color: white;
    opacity: 1;
  }
}

.subtitleDivider {
  background-color: goldenrod;
  border: none;
  margin-bottom: 15px;
  margin-top: 7px;
  min-height: 0.3rem !important;
  width: 2.5rem;
}
